<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API</title>
</head>

<body>
    <button id="log"></button>
    <div id="content_main">
        <h3>API 1: </h3>
        <button id="get_categories_tree">Get categories tree</button>
        <br><br>
        <h3>API 2: </h3>
        <label for="search">Search:</label>
        <input type="search" name="search">
        <br><br>
        <label for="order_by">Order by:</label>
        <select id="order_by" name="order_by">
            <option value="rating">Rating</option>
            <option value="price">Price</option>
            <option value="popularity">Popularity</option>
        </select>
        <button id="get_product_list">Get product list</button>
        <br><br>
        <h3>API 3: </h3>
        <label for="id_product_detail">ID Product:</label>
        <input type="number" name="id_product_detail">
        <button id="get_product_detail">Get product detail</button>
        <button id="get_product_recommendations">Get product recommendations</button>
        <br><br>
        <h3>API 4: </h3>
        <label for="id">ID:</label>
        <input type="number" name="id">
        <button id="get_rating_product">Get rating</button>
        <br><br>
        <h3>API 5: </h3>
        <label for="seller_id">ID Seller:</label>
        <input type="number" name="seller_id">
        <button id="get_info_seller">Get Information Seller</button>
        <br><br>
        <h3>API 6: </h3>
        <label for="user_id">ID User:</label>
        <input type="number" name="user_id">
        <button id="get_history_user">Get History User</button>
        <br><br>
        <h3>API 7: </h3>
        <label for="category_id">ID Category:</label>
        <input type="number" name="category_id">
        <button id="get_top_products">Get Top Products</button>
    </div>
    <script src="/main.js"></script>
</body>

</html>