<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API</title>
</head>

<body>
    <button id="log"></button>
    <div id="content_main">
        <h3>API 1: </h3>
        <button id="get_categories_tree">Get categories tree</button>
        <br><br>
        <h3>API 2: </h3>
        <label for="search">Search:</label>
        <input type="search" name="search">
        <br><br>
        <label for="order_by">Order by:</label>
        <select id="order_by" name="order_by">
            <option value="rating">Rating</option>
            <option value="price">Price</option>
            <option value="popularity">Popularity</option>
        </select>
        <button id="get_product_list">Get product list</button>
        <br><br>
        <h3>API 3: </h3>
        <label for="id_product_detail">ID Product:</label>
        <input type="number" name="id_product_detail">
        <button id="get_product_detail">Get product detail</button>
        <button id="get_product_recommendations">Get product recommendations</button>
        <br><br>
        <h3>API 4: </h3>
        <label for="id">ID:</label>
        <input type="number" name="id">
        <button id="get_rating_product">Get rating</button>
        <br><br>
        <h3>API 5: </h3>
        <label for="seller_id">ID Seller:</label>
        <input type="number" name="seller_id">
        <button id="get_info_seller">Get Information Seller</button>
        <br><br>
        <h3>API 6: </h3>
        <label for="user_id">ID User:</label>
        <input type="number" name="user_id">
        <button id="get_history_user">Get History User</button>
        <br><br>
        <h3>API 7: </h3>
        <label for="category_id">ID Category:</label>
        <input type="number" name="category_id">
        <button id="get_top_products">Get Top Products</button>
        <br><br>
        <h3>API 8: </h3>
        <label for="category_id_selling">ID Category:</label>
        <input type="number" name="category_id_selling">
        <label for="start_date">Start Date:</label>
        <input type="date" name="start_date">
        <label for="end_date">End Date:</label>
        <input type="date" name="end_date">
        <button id="get_top_selling">Get Top Selling</button>
        <br><br>
        <h3>API 9: </h3>
        <label for="category_id_rated">ID Category:</label>
        <input type="number" name="category_id_rated">
        <label for="min_review_count">Min Review Count:</label>
        <input type="number" name="min_review_count">
        <button id="get_top_rated">Get Top Rated</button>
        <br><br>
        <h3>API 10: </h3>
        <label for="category_id_brands">ID Category:</label>
        <input type="number" name="category_id_brands">
        <label for="start_date_brand">Start Date:</label>
        <input type="date" name="start_date_brand">
        <label for="end_date_brand">End Date:</label>
        <input type="date" name="end_date_brand">
        <button id="get_brands_top_by_sales">Get Brands Top By Sales</button>
        <br><br>
        <h3>API 11: </h3>
        <label for="min_follower_count">Min Follower Count:</label>
        <input type="number" name="min_follower_count">
        <button id="get_stores_top_rated">Get Top Stores</button>
        <br><br>
        <h3>API 12: </h3>
        <label for="seller_id_retention_rate">Seller ID:</label>
        <input type="number" name="seller_id_retention_rate">
        <label for="time_range">Time Range (month):</label>
        <input type="number" name="time_range">
        <button id="get_seller_retention_rate">Get Retention Rate Seller</button>
    </div>
    <script src="/main.js"></script>
</body>

</html>